/* About Us */

.aboutUs{
    background: url(../Images/pexels-christina-morillo-1181354\ 1.png) no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.about-text{
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
}
.about-text::before{
    content: "";
    background: rgba(1, 1, 1, 0.5);
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
.about-text h2{
    font-size: 3em;
    text-decoration: underline;
    width: 40%;
    position: relative;
    top: 30%;
    color: white;
    /* padding: 0;
    border: 0; */
    display: inline-block;
}


/* End About US Section */

/* Services Section */

#services{
    background: url(../Images/pexels-christina-morillo-1181354\ 1.png) no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.service-text{
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
}
.service-text::before{
    content: "";
    background: rgba(1, 1, 1, 0.5);
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
.service-text h2{
    font-size: 3em;
    text-decoration: underline;
    width: 40%;
    position: relative;
    top: 30%;
    color: white;
    /* padding: 0;
    border: 0; */
    display: inline-block;
}


/* Contact Section */

#contactUs{
    background: url(../Images/pexels-christina-morillo-1181354\ 1.png) no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.contact-text{
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
}
.contact-text::before{
    content: "";
    background: rgba(1, 1, 1, 0.5);
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
.contact-text h2{
    font-size: 3em;
    text-decoration: underline;
    width: 40%;
    position: relative;
    top: 30%;
    color: white;
    /* padding: 0;
    border: 0; */
    display: inline-block;
}