/* About Us */

.aboutUs{
    background: url(../Images/aboutUS.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
.about-text{
    position: relative;
    width: 100%;
    height: 375px;
    text-align: center;
}
.about-text::before{
    content: "";
    background: rgba(1, 1, 1, 0.75);
    width: 100%;
    height: 375px;
    position: absolute;
    top: 0;
    left: 0;
}
.about-text h5{
    width: 40%;
    position: relative;
    top: 35%;
    left: 30%;
    color: aqua;
}
.about-text h2{
    font-size: 3em;
    width: 40%;
    position: relative;
    top: 35%;
    color: white;
    /* padding: 0;
    border: 0; */
    display: inline-block;
}
#aboutUs{
    margin-top: 75px;
}
.main-content h1{
    font-weight: 700;
}
.main-content p{
    font-size: 20px;
    color: rgb(138, 136, 136);
    margin-top: 25px;
    line-height: 2rem;
    /* text-align: justify; */
}
.imgBlock1 img{
    margin-top: 50px;
}


/* End About US Section */

/* Services Section */

#services{
    background: url(../Images/services.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
}
.service-text{
    position: relative;
    width: 100%;
    height: 375px;
    text-align: center;
}
.service-text::before{
    content: "";
    background: rgba(1, 1, 1, 0.75);
    width: 100%;
    height: 375px;
    position: absolute;
    top: 0;
    left: 0;
}
.service-text h5{
    width: 40%;
    position: relative;
    top: 35%;
    left: 30%;
    color: aqua;
}
.service-text h2{
    font-size: 3em;
    width: 40%;
    position: relative;
    top: 35%;
    color: white;
    /* padding: 0;
    border: 0; */
    display: inline-block;
}


/* Contact Section */

#contactUs{
    background: url(../Images/contact.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
.contact-text{
    position: relative;
    width: 100%;
    height: 375px;
    text-align: center;
}
.contact-text::before{
    content: "";
    background: rgba(1, 1, 1, 0.75);
    width: 100%;
    height: 375px;
    position: absolute;
    top: 0;
    left: 0;
}
.contact-text h5{
    width: 40%;
    position: relative;
    top: 35%;
    left: 30%;
    color: aqua;
}
.contact-text h2{
    font-size: 3em;
    width: 40%;
    position: relative;
    top: 35%;
    color: white;
    /* padding: 0;
    border: 0; */
    display: inline-block;
}
#contact{
    margin-top: 75px;
}
#contactForm .form-control {
    border-radius: 0;
}
#contactForm .form-control[type=text],
#contactForm .form-control[type=email] {
    height: 48px;
}