/* `xs` returns only a ruleset and no media query
// ... { ... } */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { }

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    header{
        display: none;
    }
    /* Banner */

    .banner {
        width: 100%;
        height: 500px;
    }
    .banner-text{
        padding-top: 150px;
        justify-content: center;
        text-align: center;
    }
    .banner-text h3 {
        color: #2ED3A2;
        font-size: 16px;
        letter-spacing: 0.2rem;
        margin-bottom: 0px;
    }
    .banner-text p {
        color: white;
        font-weight: 700;
        font-size: 50px;
        letter-spacing: 0.4rem;
    }
    .banner-text .btn {
        color: white;
        font-size: 14px;
        padding: 12px 14px;
    }
    #outer-text p {
        font-size: 14px;
    }

    /* End Banner */

    /* Solution */

    #solution{
        margin-top: 100px;
    }
    #firstImage img{
        display: none;
    }
    #secondImage img{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
    }
    #solution-text{
        margin-top: 250px;
        padding-left: 20px;
    }
    #solution-text h6{
        color: #6654E8;
        font-weight: 700;
        margin-top: 20px;
    }
    #solution-text h1{
        font-weight: 700;
    }
    #solution-text .body-text{
        margin-top: 25px;
        font-size: 16px;
        color: rgb(87, 87, 87);
    }
    #solution-text .outer-body{
        margin-top: 30px;
    }
    #solution-text .outer-body img{
        height: 50px;
    }
    #solution-text .outer-body p{
        margin-left: 25px;
        font-size: 14px;
        font-weight: 700;
    }
    #solution-text .btn{
        font-size: 14px;
        padding: 12px 14px;
    }
    #solution-text .btn a{
        color: white;
        text-decoration: none;
    }

    /* End Solution */

    /* Services */

    .services {
        margin-top: 100px;
        width: 100%;
        height: 500px;
    }
    .services .firstBlock {
    padding: 0px 0px;
    }
    .services .firstBox {
        margin-top: 40px;
        margin-left: 35px;
    }
    .services .firstBox h2 {
        color: white;
        font-size: 15px;
        font-weight: 700;
        margin-top: 15px;
    }
    .services .secondBox {
        margin-top: 75px;
        margin-left: 30px;
    }
    .services .secondBox p {
        color: rgb(134, 134, 134);
        font-size: 14px;
    }
    .secondBlock {
        text-align: center;
        
    }
    .services .serviceBox {
        background-color: #1c1525;
        border: 1px solid rgba(211, 211, 211, 0.836);
        margin: 4px;
        padding: 0px 10px;
        width: 50%;
        flex-wrap: wrap;
    }
    .services .serviceBox p {
        font-size: 12px;
        text-align: center;
    }
    .services .btn {
        color: white;
        font-size: 14px;
        padding: 14px 42px;
    }

    /* End Services */

    /* Testimonial */

    #testimonial {
        height: 60vh;
    }
    #testimonial .leftBox {
        margin-top: 10px;
        margin-left: 0px;
    }
    #testimonial .leftBox img {
        width: 100px;
        margin-top: 15px;
        margin-left: 100px;
    }
    #testimonial .rightBox {
        padding-top: 140px;
        padding-left: 200px;
    }
    #testimonial .rightBox p {
        font-size: 14px;
        padding-top: 15x;
    }



    /* End Testimonial */

    /* Consultation */

    #consultation {
        height: 465px;
    }
    #consultation .leftBox h3 {
        margin-top: 20px;
        padding-left: 0px;
    }
    
    /* footer */
    .footer .centerBox1 {
        padding-left: 15px;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* .banner-text {
        padding-top: 150px;
    }
    .banner-text h3 {
        font-size: 25px;
        margin-bottom: -30px;
    }
    .banner-text p {
        font-size: 100px;
    } */

    .banner {
        width: 100%;
        height: 60vh;
    }
    #solution-text h1 {
        font-size: 23px;
    }
    #solution-text .body-text {
        margin-top: 16px;
        font-size: 15px;
    }
    #solution-text .outer-body {
        margin-top: 20px;
    }
    #solution-text .outer-body img{
        height: 75px;
    }
    #solution-text .outer-body p {
        font-size: 14px;
    }
    #solution-text .btn{
        margin-top: 30px;
    }
 }

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { }