*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 75px 10px 75px;
}
.nav-logo{
    cursor: pointer;
}
.nav-logo img{
    width: 100%;
    height: 100px;
}
.nav-link{
    padding-top: 25px;
    list-style: none;
}
.nav-link li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-link li a{
    color: black;
    font-size: 20px;
    padding: 0 30px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.nav-link li a:hover{
    color: #6654E8;
}
.address i{
    color: #6654E8;
    font-size: 12px;
}
.text{
    font-size: 12px;
}

#testimonial .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #6654E8;
}





.btn{
    background: #6654E8;
}
/* .btn a{
    padding: 50px 25px;
    color: white;
    text-decoration: none;
} */


/* Banner */

.banner{
    width: 100%;
    height: 100vh;
    background-image: url('../Images/Frame\ 11.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text{
    /* position: absolute;
    top: 35%;
    left: 25%; */
    padding-top: 250px;
    justify-content: center;
    text-align: center;
}
.banner-text h3{
    color: #2ED3A2;
    font-size: 40px;
    letter-spacing: 0.2rem;
    margin-bottom: -40px;
}
.banner-text p{
    color: white;
    font-weight: 700;
    font-size: 150px;
    letter-spacing: 0.4rem;
}
.banner-text .btn{
    color: white;
    font-size: 22px;
    padding: 16px 24px;
}

#outer-text{
    background: #6654E8;
}
#outer-text p{
    padding: 40px 0;
    text-align: center;
    color: white;
    font-size: 18px;
}
#outer-text span{
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #2ED3A2;
    text-decoration-thickness: 3px;
}

/* End Banner */

/* Solution */

#solution{
    margin-top: 100px;
}
#firstImage img{
    width: 140%;
}
#secondImage{
    position: relative;
}
#secondImage img{
    position: absolute;
    top: 60%;
    left: -50%;
    width: 130%;
}
#solution-text{
    padding-left: 100px;
}
#solution-text h6{
    color: #6654E8;
    font-weight: 700;
}
#solution-text h1{
    font-weight: 700;
}
#solution-text .body-text{
    margin-top: 50px;
    font-size: 20px;
    color: rgb(87, 87, 87);
}
#solution-text .outer-body{
    margin-top: 35px;
}
#solution-text .outer-body p{
    margin-left: 50px;
    font-size: 18px;
    font-weight: 700;
}
#solution-text .btn{
    font-size: 22px;
    margin-top: 50px;
    padding: 16px 24px;
}
#solution-text .btn a{
    color: white;
    text-decoration: none;
}

/* End Solution */

/* Services */

.services{
    margin-top: 150px;
    width: 100%;
    height: 100vh;
    background-image: url('../Images/Frame\ 4.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.services .firstBlock{
    justify-content: space-between;
    align-items: center;
    padding: 0px 138px;
    padding-top: 100px;
}
.services .firstBox h5{
    color: #6654E8;
    font-weight: 700;
}
.services .firstBox h2{
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-top: 15px;
}
.services .secondBox p{
    color: rgb(134, 134, 134);
    font-size: 20px;
}

.services .secondBlock{
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}
.services .serviceBox{
    background-color: #1c1525;
    border: 1px solid rgba(211, 211, 211, 0.836);
    margin: 40px;
    padding: 20px 50px;
}
.services .serviceBox p{
    color: white;
    font-weight: 700;
    margin-top: 32px;
    text-align: center;
}
.services .btn{
    color: white;
    font-size: 22px;
    padding: 14px 42px;
}
/* End Services */

/* Testimonial */

#testimonial {
    background-image: url('../Vectors/Vector.png');
    background-repeat: no-repeat;
    background-color: #f7f7f9;
    height: 65vh;
}
#testimonial .leftBox{
    margin-top: 110px;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
}
#testimonial .leftBox img{
    width: 230px;
}
#testimonial .rightBox{
    padding-top: 110px;
    padding-left: 150px;
}
#testimonial .rightBox p{
    font-size: 32px;
}
#testimonial .rightBox .quote h4{
    color: #6654E8;
    font-weight: 700;
}
#testimonial .rightBox .quote h5{
    color: grey;
}
#testimonial .rightBox .quote-img{
    width: 230px;
    padding-right: 150px;
    padding-top: 25px;
}

/* End Testimonial */

/* Consultation */

#consultation{
    height: 200px;
    margin-top: 125px;
    background: #6654E8;
}
#consultation .leftBox,
#consultation .chatbox,
#consultation .rightBox{
    text-align: center;
}
#consultation .leftBox h3{
    color: white;
    margin-top: 33px;
    padding-left: 35px;
    font-size: 30px;
}
#consultation .rightBox h2,
#consultation .rightBox p{
    color: white;
}

/* End Consultation */

/* Clients */

#clients{
    margin-top: 100px;
}
#clients h5{
    font-weight: 700;
}

/* End CLients */

/* Footer */

.footer{
    width: 100%;
    background: #1c1525;
}
#footer-one{
    border: 1px solid white;
}
.footer #footer-one .leftBox h4{
    color: white;
}
.footer #footer-one .rightBox .btn{
    color: white;
    font-size: 22px;
    padding: 16px 24px;
}
.footer .centerBox1,
 .footer .centerBox2, 
 .footer .rightBox h5{
    color: white;
}
.footer .leftBox .subsrcibe p{
    color: grey;
}
.footer .centerBox1{
    padding-left: 130px;
}
.footer .centerBox1 p a{
    font-size: 16px;
    color: grey;
    text-decoration: none;
}
.footer .centerBox2 p{
    color: grey;
}
#footer-text p{
    color: grey;
    font-size: 16px;
}
#footer-text a{
    color: #2ED3A2;
}
.social-links a{
    font-size: 50px;
    text-decoration: none;
}

/* End Footer */